<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro item</title>
</head>
<body>
<header>
    <h1>Cadastro item</h1>
</header>
<form>
    <div class="formfield-container">
    <label for="product_name">Nome do item</label>
    <input type="text" id="product_name" placeholder="tomate"/>
        </div>
    <div class="formfield-container">
    <label for="product_type">Tipo</label>
    <input type="text" id="product_type" placeholder="livro"/>
        </div>
    <div class="formfield-container">
    <label for="product_quantity">Quantidade em estoque</label>
    <input type="number" id="product_quantity" placeholder="7"/>
        </div>
    <div class="formfield-container">
    <label for="product_issbn">ISSBN</label>
    <input type="number" id="product_issbn" placeholder="123456789"/>
        </div>
    <button type="submit">Cadastrar Item</button>
</form>
</body>
</html>