<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="../static/index.js"></script>
</head>
<body>

  <!-- MENU -->
  <div>
    <!--     CLIENTE -->
    <div>
      <p>CLIENTE</p>
      <div>
        <img />
        <p>Museu Joao</p>
      </div>
    </div>

    <!--MODULOS-->
    <div>
      <p>MÓDULOS</p>
      <ul>
        <li><a href="#">Tela Inicial</a></li>
        <li><a href="#">Colecao</a></li>
        <li><a href="#">Estatisticas</a></li>
        <li><a href="#">Emprestimo</a></li>
        <li><a href="#">Usuarios</a></li>
        <li><a href="#">Acessos</a></li>
        <li><a href="#">Configuracoes</a></li>
      </ul>
    </div>

    <!--     USUARIO -->
    <div>
      <img />
      <div>
        <p>Alice S.T.</p>
        <p>ADMINISTRADOR</p>
      </div>
    </div>
  </div>
  <main>
    <h1>COLECAO</h1>
    <form method="get" action="/colecao">
      <input type="text" name="q" value="{{ termo }}">
      <button type="submit">BUSCAR</button>
    </form>
    <!--     OPCOES -->
    <div>
      <button onclick="toggleModal('modalAdc')">ADD colecao</button>
    </div>
    <!--     LISTAGEM -->
    <div>
      {% if itens %}
      {% for item in itens %}
        <div>
          <img/>
          <div>
            <p>{{ item['item_nome'] }}</p>
            <p>{{ item['item_autoria'] }}; {{ item['item_ano'] }}</p>
          </div>
          <button>. . .</button>
        </div>
        {% endfor %}
      {% else %}
        <div>
        <p>Nenhum item cadastrado!</p>
      </div>
      {% endif %}
<!--      EXEMPLO
      <div>
        <img />
        <div>
          <p>Nome item</p>
          <p>Autoria; Ano</p>
        </div>
        <div>
          <p>Ultimo acesso: 01/01/2001</p>
          <p>Localizacao: Armazem #34</p>
        </div>
        <button>. . .</button>
      </div>
      -->
    </div>
  </main>

<!-- EXTRA - MODAL ATUALIZAR -->
<div>
  <div>
    <img />
    <div>
      <!--             FIELDITEM -->
      <div>
        <p>Titulo:</p>
        <input type="text" placeholder="titulo obra" />
      </div>
      <div>
        <p>Autor(a):</p>
        <input type="text" placeholder="titulo obra" />
      </div>
      <div>
        <p>Editora:</p>
        <input type="text" placeholder="editora da obra" />
      </div>
      <div>
        <p>Genero literario</p>
        <input type="text" placeholder="genero literario da obra" />
      </div>
      <div>
        <p>ISBN:</p>
        <input type="number" placeholder="codigo isbn da obra" />
      </div>
      <div>
        <p>Imagem:</p>
        <input type="text" placeholder="arquivo de imagem" />
      </div>
    </div>
    <button>X</button>
  </div>
  <div>
    <button>CANCELAR</button>
    <button>SALVAR</button>
  </div>
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>