<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<header>
    <h1>Home</h1>
</header>
<section id="home_functionalities">
    <h2>Functionalities</h2>
    <button onclick="goTo('#')" class="functionality-container">
        <p>Controle de acervo</p>
    </button>
    <button class="functionality-container">
        <p>Sistema de empréstimo</p>
    </button>
    <button class="functionality-container">
        <p>Estatísticas</p>
    </button>
    <button class="functionality-container">
        <p>Log da sessão</p>
    </button>
    <button class="functionality-container">
        <p>Gerenciar usuários</p>
    </button>
    <button class="functionality-container">
        <p>Sair da conta</p>
    </button>
</section>
</body>
</html>