<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<header>
    <h1>Home</h1>
</header>
<section id="home_functionalities">
    <h2>Functionalities</h2>
    <a href="{{ url_for('acervo') }}">Acervo</a>
<!--    <button class="functionality-container">-->
<!--        <p>Sistema de empréstimo</p>-->
<!--    </button>-->
<!--    <button class="functionality-container">-->
<!--        <p>Estatísticas</p>-->
<!--    </button>-->
<!--    <button class="functionality-container">-->
<!--        <p>Log da sessão</p>-->
<!--    </button>-->
<!--    <button class="functionality-container">-->
<!--        <p>Gerenciar usuários</p>-->
<!--    </button>-->
<!--    <button class="functionality-container">-->
<!--        <p>Sair da conta</p>-->
<!--    </button>-->
</section>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>